[Unit]
Description=A PC Monitoring Service
After=network.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/bash -c "while sleep 1; do monitor.sh; done;"
Restart=on-failure

[Install]
WantedBy=multi-user.target
